# Системные файлы
.DS_Store
Thumbs.db

# Настройки VS Code
.vscode/

# Если используете Sass/Less (кэш препроцессоров)
.sass-cache/
.less-cache/

# Если используете сборщики (Gulp, Webpack, Vite)
node_modules/
dist/
build/
.env

#тестовая строка для сброса кэша